<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>QCS-TP2_Website</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	<servlet-name>StandardCalculation</servlet-name>
    <servlet-class>action.StandardCalculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandardCalculation</servlet-name>
    <url-pattern>/StandardCalculation</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>PersonalCalculation</servlet-name>
    <servlet-class>action.PersonalCalculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalCalculation</servlet-name>
    <url-pattern>/PersonalCalculation</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>BackgroundCalculation</servlet-name>
    <servlet-class>action.BackgroundCalculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackgroundCalculation</servlet-name>
    <url-pattern>/BackgroundCalculation</url-pattern>
  </servlet-mapping>
</web-app>